@font-face {
  font-family: 'CustomFont';
  src: url('../font/Neue\ Plak\ Extended\ Bold.ttf') format('truetype');
  src: url('../font/Neue\ Plak\ Extended\ Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body, html {
  margin: 0;
  padding: 0;
  font:"Neue Plak Extended";
  font-family:"Neue Plak Extended Bold", Arial, sans-serif;
  letter-spacing:1px;
  height: 100%;
  width: 100%;
  background-color: #fffff9;
  vertical-align:baseline;
  letter-spacing:0.05px;
}

/* Navigation bar styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fffff9;
  padding: 10px 40px;
  position: fixed;
  width: 95vw;
  top: 0;
  z-index: 999;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.logo {
  margin: 20px 50px;
  display: flex;
  gap: 20px;
}

.logo img {
  height: 5vh;
  width: auto;
  transition: all 1s;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 100px;
}

.nav-links li {
  margin: 0;
}

.nav-links a {
  color: #000;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  word-spacing: 0.1px;
}

/* Hamburger menu icon initially hidden */
.menu-icon {
  display: none;
  color: #000;
  font-size: 3rem;
  cursor: pointer;
}

.close-icon {
  color: #fffff9;
  font-size: 3rem;
  cursor: pointer;
}

/* Menu overlay initially hidden */
.menu-overlay {
  display: none;
  position: fixed;
  top: 0;
  right: -105%;
  width: 75%;
  height: 100%;
  background-color: #333;
  z-index: 1000; /*Ensure the overlay appear on top of everything*/
  transition: right 0.3s ease-in-out;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px;
}

.menu-overlay.open {
  right: 0;
  display: flex;
}

.close-icon {
  align-self: flex-end;
  margin-bottom: 20px;
  color: white;
}

.overlay-nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  flex-grow: 1;
}

.overlay-nav-links li {
  margin: 10px 0;
  width: 100%;
  text-align: right;
}

.overlay-nav-links a {
  color: #fffff9;
  font-weight: bold;
  text-decoration: none;
  font-size: 3rem;
  display: block;
  padding: 10px 20px;
}
/**/
/* Contact Section Styles */
.contact {
  display: flex;
  flex-direction: column;
  color: #000;
  text-align: left;
  padding: 15vh 5vw;
}

.contact h1 {
  font-size: 4em;
  margin-bottom: 40px;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.contact-infor {
  flex: 1 1 calc(50% - 20px); /* 2 columns */
  padding: 20px 0;
  border-radius: 8px;
  max-width: 45vw;
  
}

.contact-infor a {
  font-size: 2.5em;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

.contact-infor p {
  margin-top: 30px;
  font-size: 1.5rem;
  color: #000;
}


/**/
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.footer h2 {
  margin: 0;
}

.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.footer ul li {
  margin-right: 20px;
}

.footer ul li:last-child {
  margin-right: 0;
}

.footer ul li a {
  padding: 6px;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .navbar{
    padding: 10px 0px;
    width: 130vw;
  }

  .nav-links{
    display: none;
  }
  .menu-icon {
    display: block;
  }

  .menu-overlay {
    display: flex;
  }

  .contact-container {
    flex-direction: column;
  }

  .footer {
    flex-direction: column;
    margin-top: 40px;
    text-align: center;
  }

  .footer ul {
    margin-top: 10px;

  }

  .footer ul li {
    margin-right: 10px;
  }
}

/*mobile viewport*/
@media (max-width: 480px) {
}