body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100%;
  width: 100%;
  background-color: #fffff9;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fffff9;
  padding: 10px 40px;
  position: fixed;
  width: 95vw;
  top: 0;
  z-index: 1000;
}

.logo{
  margin: 20px 50px;
  display: flex;
  gap: 20px;
}

.logo img {
  height: 5vh;
  width: auto;
  transition: all 1s;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 100px;
}

.nav-links li {
  margin: 0;
}

.nav-links a {
  color: #000;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.hero {
  display: flex;
  height: 20vh;
  color: #000;
  text-align: left;
  padding: 20vh 5vw;
}

.hero h1 {
  font-size: 3.5em;
  max-width: 90vw;
}

.current-future-event,
.past-event {
  background-color: transparent;
  text-align: left;
  padding: 0 5vw;
}

.current-future-event h2,
.past-event h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.event-list,
.past-event-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: left;
  gap: 20px;
  
}

.event-item {
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: transparent;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  text-align: left;
}

.event-item img {
  width: 20vw;
  height: 30vh;
  transition: all 0.1s ease-out;
}

.event-item img:hover{
  transform: scale(0.9);
}

.event-item a{
  text-decoration: none;
}

.event-item h2 {
  font-size: 1.5rem;
  margin: 10px 0;
}

.event-item a:hover{
  text-decoration: underline;
}

.event-item p {
  margin: 5px 0;
  color: #555;
}

.year-category{
  display: flex;
  flex-direction: column;
}

#year-2023-2024, #year-2022-2023{
  display: flex;
  flex-wrap: wrap;
}

/*Footer style section*/
#footer-section{
  margin-top: 50px;
  min-height:20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.credit{
  font-size: 1em;
}

.social-medias{
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.social-medias ion-icon{
  font-size: 3em;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .event-item {
      flex: 1 1 calc(50% - 20px);
      max-width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .event-item {
      flex: 1 1 100%;
      max-width: 100%;
  }
}