body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100%;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px 40px;
  position: fixed;
  width: 95vw;
  top: 0;
  z-index: 1000;
}

.logo {
  color:#000;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  margin: 0;
}

.nav-links a {
  color: #000;
  text-decoration: none;
  font-size: 1rem;
}

.hero {
  display: flex;
  height: 40vh;
  color: #000;
  text-align: left;
  padding: 20vh 10vw;
}

.hero h1 {
  font-size: 3.5rem;
  max-width: 90vw;
}

.current-future-event {
  padding: 40px 20px;
  background-color: #f9f9f9;
  text-align: center;
}

.current-future-event h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.event-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.event-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
  text-align: left;
}

.event-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.event-item h2 {
  font-size: 1.5rem;
  margin: 10px 0;
}

.event-item p {
  margin: 5px 0;
  color: #555;
}